<div class="grid_7" id="primary">

	<table id="crossword">
	<%	@grid.rows.times do |y| -%>
		<tr class="<%= y %>">
		<% @grid.columns.times do |x|
			cell = @grid.get(x, y) -%>
			<td class="<%= cell.nil? ? 'inactive' : x %>">
			</td>
		<% end -%>
		</tr>
	<% end -%>	
	</table>
	
</div>
<div class="clues-box grid_4">
	
	<h3>Clues</h3>
	<h4>Across</h4>
	<ol class="clues large">
	<%	@h_clues.each_with_index do |c, i| -%>
    <li><%="#{i+1}. " + c[:clue] + " (<strong>#{ c[:length] }</strong>)" %></li>
	<% end -%>	
	</ol>
	<h4>Down</h4>
	<ol class="clues large">
	<%	@v_clues.each_with_index do |c, i| -%>
    <li><%="#{i+1}. " + c[:clue] + " (<strong>#{ c[:length] }</strong>)" %></li>
	<% end -%>	
	</ol>
	
</div>

<script type="text/javascript" charset="utf-8">
  	var grid = <%= @grid.grid.select {|k, v| !v.nil?}.to_json %>;
</script>
