<a href="#help-info" title="Show the help box, please!" id="show-help"><strong>Help me!</strong></a>
<div class="grid_8" id="primary">

	<table id="crossword">
	<%	@grid.rows.times do |y| -%>
		<tr class="<%= y %>">
		<% @grid.columns.times do |x|
			cell = @grid.get(x, y) -%>
			<td class="<%= cell.nil? ? 'inactive' : x %>">
			</td>
		<% end -%>
		</tr>
	<% end -%>	
	</table>
	<div id="help-info" class="box">

		<a href="#help-info" title="Close the help box, please!" class="close"><strong>&times;</strong></a>
		<h3><em>This super&ndash;tricky crossword was lovingly generated for you by Swords</em></h3>
		<p>Click on a white square to type in it. Once you've done that you can move around with your arrow keys. From then on it's a breeze! When you have completed the Sword correctly a kind message will arise telling you that you <em>truly</em> are fantastic.</p>

	</div>
	
	
</div>
<div class="clues-box grid_3">
	
	<h3>Clues</h3>
	<h4>Across</h4>
	<ol class="clues large">
	<%	@h_clues.each_with_index do |c, i| -%>
    <li><%="#{i+1}. " + c[:clue] + " (<strong>#{ c[:length] }</strong>)" %></li>
	<% end -%>	
	</ol>
	<h4>Down</h4>
	<ol class="clues large">
	<%	@v_clues.each_with_index do |c, i| -%>
    <li><%="#{i+1}. " + c[:clue] + " (<strong>#{ c[:length] }</strong>)" %></li>
	<% end -%>	
	</ol>
	
</div>

<script type="text/javascript" charset="utf-8">
  	var grid = <%= @grid.grid.select {|k, v| !v.nil?}.to_json %>;
</script>
